/*Remove margins for other nav bars*/
body {
    margin: 0px;
    background-color:HSL(0, 0%, 70%);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Cut margins*/ 
main {
    margin-left: 20px;
    margin-right: 20px;
}

/*Footer so text is centered without margins*/
footer {
    margin-left: 0px;
    margin-left: 0px;
    text-align: center;
}

/*Center titles*/
h1 {
    text-align: center;
}

/*Default nav bar*/
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

/*Text on nav bar*/
.navbar a {
    color:white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

/*Change color on hover*/
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}

/*Make bar go horizontal*/
.navbar li {
    float: left;
}